<div data-dojo-attach-point="containerNode">
	<div class="instructions" data-dojo-attach-point="instructionsNode"></div>
	<div class="objectsNode" data-dojo-attach-point="objectsNode"></div>
	<div class="booleanProps statementContainer" data-dojo-attach-point="booleanPropNode"></div>
	<div class="booleanOps statementContainer" data-dojo-attach-point="booleanOpNode"></div>
	<div class="booleanStatement statementContainer" data-dojo-attach-point="booleanStatementNode"></div>
	<div style="clear:both;"></div>
	<div class="addlBooleanStatements" data-dojo-attach-point = "addlBooleanStatementsNode"></div>
</div>