/**
 * If you are developing a project that makes use of Dijit widgets, you will probably want to include the two files
 * below; otherwise, you can remove them. When building for release, Dojo will automatically combine all of your
 * @imported CSS files into a single file.
 *
 * It is highly, highly recommended that you develop your CSS using Stylus: http://learnboost.github.com/stylus/.
 */

@import '../../dojo/resources/dojo.css';
@import '../../dijit/themes/claro/claro.css';


/*
* General CSS
*/
html, body{
	height: 100%;
	width: 100%;
	background-image:url(images/bg.gif);
	text-align: center;
}
.csLab{
	display: inline-block;
	text-align: left;
	width:100%;
}
.main_content{
	/*display:inline-block;*/
	margin:0 auto;
	min-width:800px;
	max-width:1000px;
}
#headerWrapper{
	margin:0 auto;
	width:600px;
}
#header{
	float:left;
	background-image: url(images/leftHeader.png);
	background-repeat:no-repeat;
	padding-left:42px;
	height:109px;
	text-align:center;
	margin-bottom:15px;
}
#innerHeader{
	height:109px;
}
#topHeader{
	height:48px;
	background-image:url(images/headerbg.gif);
}
#rightHeader{
	float:left;
	background-image:url(images/rightHeader.png);
	width:43px;
	height:109px;
	background-repeat:no-repeat;
	margin-left:-2px;
}
#navbar{
	line-height:61px;
	height:61px;
	background-image:url(images/navbg.gif);
	background-repeat:repeat-x;
}
#navbar a{
	float:left;	
	color:#A3CFCD;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	padding-left:10px;
	padding-right:10px;
}
#navbar a:hover{
	text-decoration:underline;
	background-image:url(images/navbg_active.gif);
}
#sidebar{
	clear:both;
	padding-left:8px;
	color: black;
	width:130px;
	float:left;
	background-color:#e2e2e2;
	border:2px solid black;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
#sidebar h1{
	text-align:center;
	width:100%;
	margin-left:-5px;
}
.sidebarLevelWrapper{
	padding-left:10px;
}
#activityWrapper{
	min-width:618px;
	float:left;
	padding:8px;
	margin-left:20px;
	background-color:#e2e2e2;
	border:2px solid black;
	border-radius: 15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}

/*
*  Boolean Activity CSS
*/
.statementContainer{
	float:left;
	height:50px;
	padding:0px 10px;
	border-radius: 15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}
.booleanProps{
	margin:2px;
	background-color:#69E07F;
	border:1px solid #34703F;
}

.booleanProp, .booleanProp.dojoDndItem, .booleanProp.dojoDndItemOver{
	margin: 10px 1px 0px 1px;
	padding:0px 8px;
	float:left;
	border-radius:10px;
	line-height:30px;
	background-color:#BDEDB9;
	border:1px solid #7CA178;
}
.booleanProp.dojoDndItemAnchor{
	background-image:none;
	padding:0px 8px;
	float:left;
	border-radius:10px;
	line-height:30px;
	background-color:#BDEDB9;
	border:1px solid #7CA178;
}
.booleanOps{
	margin:2px;
	background-color:#6989E0;
	border: 1px solid #344470;
}
.booleanOp, .booleanOp.dojoDndItem, .booleanOp.dojoDndItemAnchor, .booleanOp.dojoDndItemOver{
	margin: 10px 1px 0px 1px;
	padding: 0px 8px;
	float:left;
	line-height:30px;
	border-radius:10px;
	background-color:#B9C7ED;
	border: 1px solid #59647D ;
}
.booleanOp.dojoDndItemAnchor{
	margin: 10px 1px 0px 1px;
	padding: 0px 8px;
	float:left;
	line-height:30px;
	border-radius:10px;
	background-color:#B9C7ED;
	border: 1px solid #59647D ;
	background-image:none;
}
.addlBooleanOp{
	float:left;
	height:50px;
	min-width:50px;
	background-color:#6989E0;
	border-radius:10px;
	border: 1px solid #59647D ;
}

.booleanStatement{
	min-width:300px;
	padding-right:50px;
	background-color:#E06969;
	clear:both;
	border:1px solid #703535;
}
.booleanStatementBox{
	float:left;
	clear:both;
	min-width:400px;
	margin-top:5px;
}
.addlBooleanStatements{
	background-color:rgb(160,0,0);
}
.addlBooleanStatement{
	margin-left:5px;
	float:left;
	min-width:300px;
	height:50px;
	border-radius:10px;
	background-color:#E06969;
	border:1px solid #703535;
}
.booleanShape{
	float:left;
	margin-left:10px;
	margin-bottom:10px;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}


/*
*  Binary Activity CSS
*/
.binaryDecTxtBox{
	padding:3px;
	border-radius:5px;
}
.binaryCard{
	width:80px;
	height:120px;
	text-align:center;
	line-height:120px;
	background-repeat: no-repeat;
	float:left;
	margin-left:10px;
	border:1px solid black;
	background-color:white;
	font-size:36pt;
	font-weight:bold;
}
.binaryCard1{
	background-image:url(images/1.png);
}
.binaryCard2{
	background-image:url(images/2.png);
}
.binaryCard4{
	background-image:url(images/4.png);
}
.binaryCard8{
	background-image:url(images/8.png);
}
.binaryCard16{
	background-image:url(images/16.png);
}
.binaryCardDeactive{
	background-image:url(images/deactivatedCard.png);
}
/* Trophy Shelf */
.trophyShelf{
	border: 10px ridge #272728;
	min-height:50px;
	min-width:400px;
	background-image:url(images/shelf_bg.gif);
}