<div class="csLab">
	<div id="headerWrapper">
		<div id="header">
			<div id="innerHeader">
				<div id="topHeader">
					<img src="app/resources/images/logo.gif">
				</div>
				<div id="navbar" data-dojo-attach-point="navbarNode">
					<a href="/binary" data-dojo-attach-event="onClick:_onClick">Binary Numbers</a>
					<a href="/boolean" data-dojo-attach-event="onClick:_onClick">Boolean</a>
					<a href="/sorting" data-dojo-attach-event="onClick:_onClick">Sorting</a>
					<a href="/searching" data-dojo-attach-event="onClick:_onClick">Searching</a>
					<a href="/medals" data-dojo-attach-event="onClick:_onClick">Trophy Shelf</a>
				</div>
			</div>
		</div>
	</div>
	<div id="rightHeader"></div>
	<div class="main_content" data-dojo-attach-point='containerNode'></div>
</div>